<!-- <main class="helvetica dark-gray bg-white vh-50 dt w-100">
    <div class="dtc v-mid tc white ph3 ph4-l">
      <a href="mailto:imajn.contact@gmail.com?Subject=Let's work together" class="center link b f3 f2-ns dim black-70 lh-solid">imajn.contact@gmail.com</a>
      <p class=" center dim black-60 lh-solid">IMAJN</p>
    </div>
</main> -->

<main class="roboto vh-50 dt w-50-ns w-100-ns" id="contact-us">
  <form method="post">

    <p>
      <label>Name</label>
      <input type="text" name="userName" value="" required="">
    </p>

    <p>
      <label>Email</label>
      <input type="email" name="email" value="" required="">

    </p>

    <p>
      <label>Reason for contact</label>
      <select name="regarding">
        <option value="general">General</option>
        <option value="appointment">Book an appointment</option>
        <option value="price">Get a quote</option>
        <option value="suggestion">Send us feedback</option>
      </select>
    </p>

    <p>
      <label>Comment</label>
      <textarea name="name" rows="8" cols="80"></textarea>
    </p>

    <!-- TODO Logo img here - float left of btn
    <div id="logo">
      <p class=" center dim black-60 lh-solid">IMAJN</p>
    </div> -->

    <div id="submit-btn">
      <button class="button" type="button" name="button">Submit</button>
    </div>

  </form>
</main>
