<main class="w-100 cf helvetica dark-gray bg-white pa3 pa4-m pa5-l mw9 center">
  <div class="fl w-50 pr2 pr3-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l bg-lightest-blue"></div>
  </div>
  <div class="fl w-50 w-25-l pl2 pr2-m ph2-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l bg-light-blue"> </div>
  </div>
  <div class="fl w-50 w-50 w-25-l pr2 pr0-l pl3-l mb3 mb4-l">
    <div class="cover pv5 pv6-m pv7-l bg-dark-blue"> </div>
  </div>
  <div class="fl w-100 w-100 pr2-l pl2-ns mb4 mb0-l mb4">
    <div class="pa5">
      <div class="f4 f2-l fw7 mt0 pv3-l bb-l">
        <h1 class="fbb--black">IMAJN<span class="under-score">;</span></h1>
      </div>
    </div>
  </div>
</main>