  <div class="pa4 ph7-l georgia mw9-l center">
      <p class="f5 f3-ns lh-copy measure georgia">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur accusantium ad maxime distinctio vitae, beatae totam quia architecto numquam officiis voluptatibus quo libero ea praesentium qui similique labore illo quas.
      </p>
    </div>
<div class="helvetica">
  <article>
    <header class="bg-light-blue">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          WHO ARE WE
        </span>
        </h3>
        <h4 class="f3 fw1 georgia i">Developers, mostly</h4>
      </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center">
      <p class="f5 f3-ns lh-copy measure georgia">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt laboriosam debitis unde voluptatibus quis placeat dicta alias ducimus perferendis reprehenderit, temporibus quam velit, reiciendis accusantium officiis nulla? Esse, asperiores, assumenda?
      </p>
    </div>
  </article>

  <article>
    <header class="bg-light-blue">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          WHAT WE OFFER
        </span>
        </h3>
        <h4 class="f3 fw1 georgia i">Cutting edge frameworks and technologies</h4>
      </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center">
      <p class="f5 f3-ns lh-copy measure georgia">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus rerum, sint velit ex aperiam, nisi illo non accusantium asperiores debitis fugiat distinctio rem maiores, fuga ut consectetur molestiae minus mollitia.
      </p>
    </div>
  </article>

</div>