<div class="pa4 ph7-l roboto mw9-l center">
  <p class="f5 f3-ns lh-copy measure roboto">
    Robust, Secure &amp; Affordable
  </p>
</div>
<div class="roboto">
  <article>
    <header class="bg-light-blue">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          WHO ARE WE ?
          </span>
        </h3>
        <h4 class="f3 fw1 roboto i">Developers, mostly</h4>
        <p class="f5 f3-ns lh-copy roboto">
        </p>
      </div>
    </header>
    <!-- TODO Could this be a bullet point in what we have to offer? -->
    <div class="pa4 ph7-l roboto mw9-l center">
      <p class="f5 f3-ns lh-copy measure roboto">
        We deliver quality software solutions tailor suited for your unique project. Endorsing various technologies we offer our
        clients a diverse technology stack handcraft for their individual projects. Our methodology supports requirement
        changes, early evaluation, weekly review sessions with you in order to accurately deliver your application to the
        highest standard.
      </p>
    </div>
  </article>

  <article>
    <header class="bg-light-blue">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
          WHAT WE OFFER
        </span>
        </h3>
        <h4 class="f3 fw1 roboto i">Our the best services for your buisness</h4>
      </div>
    </header>

    <div class="pa4 ph7-l roboto mw9-l center">
     <p class="f5 f3-ns lh-copy measure roboto">
              We offer various single and subscription based contracts where each unique project is defined with documentation which becomes
              the foundation of our contract.
            </p>
      <div class="mw9 center ph3-ns">
        <div class="cf ph2-ns f5 f4-ns lh-copy">
          <div class="fl w-100 w-50-ns">
       
            <!-- TODO add button to route user to contact form  -->
            <ul>
              <li class="mb3">Not tech savvy? Don't worry we’ll build, deploy and host your site so you can focus on your business.</li>
              <li>We understand project specifications can unexpectedly change so we offer a flexible requirement plan.</li>
            </ul>
          </div>
          <div class="fl w-100 w-50-ns">
            <ul>
              <li class="mb3">All our code is rigorously tested by third party sources to assure you're getting a high quality product.</li>
              <li>Continued professional technical and maintenance support.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article>
    <header class="bg-light-blue">
      <div class="mw9 center pa4 pt5-ns ph7-l">
        <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
          <span class="bg-black-90 lh-copy white pa1 tracked-tight">
            Not sure where to begin?
          </span>
        </h3>
        <h4 class="f3 fw1 roboto">Contact Us!</h4>
      </div>
    </header>
        <!-- TODO Could this be a bullet point in what we have to offer? -->
    <div class="pa4 ph7-l roboto mw9-l center">
      <p class="f5 f3-ns lh-copy measure roboto">
        Do you have an abstract idea hard to put into practice? Missing a key step in formalising the final solution for your application?
          Looking for some professional feasibility consultation? Don't be afraid to contact us for these reasons as we can
          help manage the planning and analysis phase of the project to insure a successful development path.
      </p>
    </div>
  </article>
</div>